
.rowchess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.cellchess {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border: none;
}
.cellchess:hover {
  background-color: rgb(194, 191, 191);
}
.rowchess:nth-child(odd) .cellchess:nth-child(even) {
  background-color: #6681b2;
}
.rowchess:nth-child(even) .cellchess:nth-child(odd):hover {
  background-color: #4d638c;
}
.rowchess:nth-child(even) .cellchess:nth-child(odd) {
  background-color: #6681b2;
}
.rowchess:nth-child(odd) .cellchess:nth-child(even):hover {
  background-color: #4d638c;
}

