.rowsudoku {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cellsudoku {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

.cellsudoku:hover {
  box-shadow: 0px 0px 15px #888888;
}

.rowsudoku .cellsudoku:nth-child(3n) {
  border-color: black;
  margin-right: 5px;
}

.rowsudoku:nth-child(3n) .cellsudoku {
  border-color: black;
  margin-bottom: 5px;
}
.cellsudokuNum {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
