body {
  margin: 0;
  background-color: #efefef;
  font-family: "Courier New", Courier, monospace;

} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.board {
  display: grid;
  place-items: center;
  justify-content: center;
}
h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #96b1c7;
  margin-top: 70px;
  margin-bottom: 50px; 
}
