body {
  margin: 0;
  background-color: #efefef;
  font-family: "Courier New", Courier, monospace;

} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.board {
  display: grid;
  place-items: center;
  justify-content: center;
}
